<p id="notice"><%= notice %></p>

<%= render 'shared/completedOrder', :order => @order %>

<% if can? :update, @order %>
    <%= link_to 'Edit', edit_order_path(@order) %> |
<% end %>
<%= link_to 'Back', orders_path %>
