<p id="notice"><%= notice %></p>

<h1 class="center">Products</h1>

<div class="jumbotron">
  Our products are produced to order. Feel free to click on an image to learn
  more about the individual item.
</div>

<% @items.in_groups_of(3).each do |group| %>
  <div class="row">
      <% group.each do |item| %>
        <% if item %>
          <div class="col-sm-4 center">
            <%= link_to image_tag(item.picture, size: ("200")), item %><br>
            <%= link_to item.name, item, class: "center h2"%>
          </div>
        <% end %>
      <% end %>
  </div>
<% end %>

<br>

<%= link_to 'New Item', new_item_path %>
