<footer class="footer">
  <small>
    The <%= link_to 'NHHS Coffee Shop', root_path %> does not guarantee that
    orders will be honored. 
  </small>
  <nav>
    <ul>
      <li><%= link_to "School Website",   'http://www.mcssk12.org/' %></li>
      <li><%= link_to "Madison County Website", 'http://newhopehigh.mcssk12.org/' %></li>
    </ul>
  </nav>
</footer>